* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    cursor: default;
}

header {
    height: 100px;
    width: 100vw;
    background-color: #262831;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

header i {
    margin-left: 30px;
    cursor: pointer;
    color: #7A7979;
    transform: scale(2);
}

header .app-name {
    width: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    padding-top: 20px;
    letter-spacing: 7px;
    text-align: center;
    color: #00f9b6;
}

main {
    width: 100vw;
    height: 100%;
    background-color: #2F313A;
    display: inline-block;
    position: relative;
}

main #add-background {
    height: 520px;
    width: 100%;
    position: fixed;
    display: none; /* flex */
    justify-content: center;
    align-items: center;
}

main #add-background .add {
    background-color: #2F313A;
    width: 500px;
    height: 500px;
    border: 0.5px solid #3e3f42;
    border-radius: 5px;
    color: rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main #add-background .add mat-form-field {
    width: 80%;
}

main #add-background .add .buttons {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

main #add-background .add button {
    margin-top: 35px;
    padding: 5px 10px;
}
main .time-date {
    padding: 20px;
}

main .time-date #ctime {   
    width: inherit;
    padding-top: 20px;
    font-weight: 200;
    font-size: 55px;
    line-height: 76px;
    text-align: center;
    color: #00f9b6;
}

main .time-date #cdate { 
    width: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #7A7979;
    margin-top: -10px;
}

main ul{
    padding:30px;
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 55px;
    padding-right: 55px;
    border: 0.5px solid #3e3f42;
    width: 80vw;
    height: 60px;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: rgb(160, 160, 160);
    margin-bottom: 35px;
}

main ul li i{
    cursor: pointer;
}

main ul li p {
    padding-top: 15px;
}

.true {
    color: #00f9b6;
    border: 2px solid #262831;
    border-radius: 100%;
}

.false {
    color: #fa3d24;
    border: 2px solid #262831;
    border-radius: 100%;
}

.fa-trash {
    color: #00f9b6;
}

.fa-circle-plus {
    position: fixed;
    padding-top: 6px;
    padding-right: 30px;
    transform: scale(5);
    top: 1;
    right: 0;
    cursor: pointer;
    color: #00f9b6;
}