<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
<header>
    <i class="fa-solid fa-bars"></i>
    <p class="app-name">JUST TODO IT</p>

</header>
<main>
    <div class="time-date">
        <p id="ctime">00</p>
        <p id="cdate">Number of Tasks</p>
    </div>
    <div id="add-background">
        <div class="add">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="description">
                <mat-hint>Task Description</mat-hint>
              </mat-form-field>
              <div class="buttons">
                <button type="submit" class="btn btn-primary" (click)="add()">Add</button>
                <button type="submit" class="btn btn-primary" (click)="closeModal()">Cancel</button>
              </div>
        </div>
    </div>
    <ul id="list">
        <li>
            <i class="fa-solid fa-circle false"></i>
            <p id="item">Call Mumsy</p>
            <i class="fa fa-trash"></i>
        </li>
        <li>
            <i class="fa-solid fa-circle true"></i>
            <p id="item">Take coffee in the morning</p>
            <i class="fa fa-trash"></i>
        </li>
    </ul>
    <i class="fa-solid fa-circle-plus" (click)="showModal()"></i>
</main>